#suoyou
{
    width: 1263px;
    height: 230px;
    border: 1px solid black;
    margin:  0 auto;
    margin-top: 3px;
    /*position: relative;*/
    background: white;
}

.touxiang
{
    width: 80px;
    height: 186px;
    border: 1px solid grey;
    margin-top: 5px;
    float: left;
    margin-left: 8px;
}

.touxiang img
{

    margin-left: 14px;
    margin-top: 5px;
}

.biaoti
{
    border: 1px solid grey;
    width: 90%;
    height: 40px;
    float: right;
    margin-right: 20px;
    margin-top:5px;
}
.neirong
{
    width: 90%;
    height: 140px;
    border: 1px solid grey;
    float: right;
    margin-top: 3px;
    margin-right: 20px;
}

.xingming
{
    width: 60px;
    /*height: 60px;*/
    /*border: 1px solid gray;*/
    margin: 0 auto;
    text-align: center;
}

.huifu
{
    float: right;
    margin-right: 20px;
    margin-top:2px;
}

.shanchu
{
    float: right;
    margin-right: 20px;
    margin-top: 3px;
}